.modal_container {
  position:absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(69, 73, 102, 0.89);
  height: 300px;
}
.delete {
  top: 25vh;
}
.deleted_message {
  color: red;
}